div.container
  div.navbar-header
    button.navbar-toggle(type='button' data-toggle='collapse' data-target='#custom-collapse')
      span.sr-only Toggle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar  
    a.navbar-brand(href='/') 
      span.ibmohry-blue Ingenieurbüro 
      span.ibmohry-grey Mohry
  
  div.collapse.navbar-collapse#custom-collapse

    ul.nav.navbar-nav.navbar-right

      li: a(href='/leistungen') Leistungen
      li: a(href='/projekte') Projekte
      li: a(href='/kontakt') Kontakt
