extends application

block content

  //-Navigation
  nav.navbar.navbar-custom.navbar-fixed-top(role='navigation')
    include ./partials/_nav

  .wrapper

    section.module.module-header.bg-dark.bg-dark-50(data-background='assets/images/section-7.jpg')
      .container
        .row
          .col-sm-8.col-sm-offset-2
            h1.module-title.font-alt.align-center Kontakt
 