extends application

block content

  //-Navigation
  nav.navbar.navbar-custom.navbar-fixed-top(role='navigation')
    include ./partials/_nav


  .wrapper

    section.module.module-header.bg-dark.bg-dark-50(data-background='assets/images/section-7.jpg')
      .container
        .row
          .col-sm-8.col-sm-offset-2
            h1.module-title.font-alt.align-center Leistungen
        
    section.module-small
      .container
        .row
          .col-sm-8.col-sm-offset-2
            h4.font-alt.m-b-0 Baustatik und Tragwerksplanung
            hr.divider-w.m-t-10.m-b-20
            p Auf dem Gebiet der Baustatik und der Tragwerksplanung werden folgende Leistungen erbracht:
            ul
              li Beratung in statisch-konstruktiver Hinsicht 
              li Statische Berechnung (Standsicherheitsnachweis) für Gebäude und Tragwerke des Hochbaus 
              li Detailstatik z.B. im Holz-, Stahl- und Stahlbeton Fertigteilbau 
              li Ausführungsplanung (Konstruktionspläne) 
              li Überwachung / Kontrolle der Bauausführung  
           
            p Die Tätigkeitsfelder sind Wohnungsbau, Gewerbebau und öffentliche Bauten sowohl beim Neubau als auch beim Bauen im Bestand (Umbau, Erweiterung, Umnutzung etc.). 
            h5 Wohnungsbau 
            p Ein- und Mehrfamilienhäuser, Geschosswohnungsbau mit Tiefgaragen in Massiv- und Holzbauweise 
            h5 Gewerbebau 
            p Gewerblich genutzte Hallen und Geschäftsgebäude in Massiv- und Holzbauweise 
            h5 Öffentliche Bauten 
            p z.B. Kinderkrippen / Kindertagesstätten, Bauten der kommunalen Wasserversorgung (z.B. Pumpstationen) 
             
            p Auftraggeber sind private und öffentliche Bauherren sowie gewerbliche Betriebe.

    section.module-small
      .container
        .row
          .col-sm-8.col-sm-offset-2
            h4.font-alt.m-b-0 Sachverständigenleistungen
            hr.divider-w.m-t-10.m-b-20
            p Aus dem Tätigkeitsfeld der Tragwerksplanung haben sich folgende Sachverständigenleistungen entwickelt: 
            ul 
              li Statisch-konstruktive Bestandsermittlung (z.B. an historischen Tragwerken) 
              li Beurteilung der Standsicherheit 
              li Aufnahme und Beurteilung von Schäden 
              li Private Beweissicherungen (z.B. vor Baubeginn) 
              li Bauwerksprüfungen an Holz- und Massivkonstruktionen des Hochbaus 
              li Messung von Betondeckungen zur Beurteilung der Dauerhaftigkeit und des Brandschutzes und zur Kontrolle der Ausführung 
              li Feuchtemessungen an Holz- und Massivkonstruktionen (u.a. mit Mikrowellentechnologie, Gerät: hf-sensor)  
